<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=6k183g3; Persist Security Info=True; User ID=6K183g3; Password=$isbullshit"/>
    <add name="cs_SLPL" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=6k183g3; Persist Security Info=True; User ID=6K183g3; Password=$isbullshit" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
      <siteMap defaultProvider="secureprovider">
          <providers>
              <add name="secureprovider" type="System.Web.XmlSiteMapProvider"
               siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
          </providers>
      </siteMap>
    <roleManager enabled="true" />
    <authentication mode="Forms">
    <forms loginUrl="Login/Relogin.aspx"/>
    </authentication>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>
</configuration>